/* Defines all global css properties or testings*/

/* This file contains basic properties, for adjustments like picture size in contents, please alter in own CSS file or in-line alternations*/

/*  Testings */
.border-test{
    border: 2px solid rgba(255, 0, 0, 0.5);
}



/* Global Variables*/
@media screen and (min-width: 768px){
    .icon-div{
        margin: 0 auto;
        padding: 0vx;
        width: 40vw;
    }
}

@media screen and (max-width: 768px){
   .icon-div{
    margin: 0 auto;
    padding: 0vx;
    width: 80vw;
    } 
}

/* Container sizing setting */
.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

@media screen and (max-width: 992px){
    .w-50-m, .w-75-m{
        width: 90%;
    }
}

@media screen and (min-width: 992px){
    .w-50-m{
        width: 50%;
    }

    .w-75-m{
        width: 75%;
    }
}

/* Font settings */
.hidden{
    visibility: hidden;
}

/*

.content-fs{
    font-size: 10px;
}

.topic-fs{
    font-size: 15px;
}

@media screen and (min-width: 768px){
    .content-fs{
        font-size: 10px;
    }

    .topic-fs{
        font-size: 18px;
    }
}


*/

.fs-6{
    font-size: 4rem;
}

.fs-5{
    font-size: 3rem;
}

.fs-4{
    font-size: 2.5rem;
}

.fs-3{
    font-size: 2rem;
}

.fs-2{
    font-size: 1.5rem;
}

.fs-1{
    font-size: 1rem;
}

.fs-0{
    font-size: 0.5rem;
}

.sub-topic-color{
    color: rgba(0, 51, 102, 0.9);
}

/* navbar settings */
.navbar-btn-hover:hover{
    background-color: darkorchid;
}

.nav-item-hover:hover{
    background-color: darksalmon;
}

.nav-ul {
    padding: 0;
    margin: 1%;
}

.nav-text {
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-main{
    color: rgba(0, 51, 102, 0.9);
}

.nav-main-margin{
    margin: 0.6vw;
}



/* Carousel Settings */

/* Carousel-img*/
.carousel-height {
    height: 35vw;
}
.carousel-img{
    max-width: 80%;
    max-height: 100%;
}

.carousel-caption {
    top: auto;
    bottom: 0;
    width: 80%;
    right: auto;
    left: 10%;
}

.carousel-caption-inner {
    text-align: left;
}

.carousel-indicators {
    margin-bottom: 1px;
}

@media screen and (max-width: 768px){
    .carousel-caption-topic {
        font-size: 14px;
    }
    
    .carousel-caption-content {
        font-size: 10px;
    }
    
    .carousel-indicators [data-bs-target] {
        width: 5px;
        height: 5px;
        border-radius: 100%;
    }
}

@media screen and (min-width: 768px) {
    .carousel-caption-topic {
        font-size: 20px;
    }

    .carousel-caption-content {
        font-size: 14px;
        margin-bottom: 5%;
    }

    .carousel-indicators [data-bs-target] {
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
}

/* Content sizing */
.set-content-pic-size {
    width: 100%;
    height: auto;
}

.hexagon{
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}


/* container sizing */
.div-md-max{
    max-width:50%;
}


/* Tables */
.same-width{
    width: 33.3%;
}

.table-height{
    height: 75px;
}

/* Clickable items settings */
.cursor-pointer{
    cursor: pointer;
}

/* Normal Links */
.link-description{
    font-size: 10px;
}

.link-topic{
    font-size: 5px;
}

.link-underline-none{
    text-decoration: none;
}


.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px){
    .ellipsis-md{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}


/* Settings that adjusts with responsive devices*/
/* Settings: 320px, 375px, 425px, 768px, 1024px, 1440px, 2560px*/


/* icon sizes */
.pdf-icon-size{
    width: 25px;
    height: auto;
}

/* Hover Settings */
.hoverable:hover {
    background-color: aqua;
}

/* Member pic size settings */
.member-pic{
    max-height: 80%;
    max-width: 80%;
}

.member-div{
    height: 300px;
}


.member-name{
    width: 100%;
}

.group-pic{
    max-width: 90%;
    height: auto;
    border-radius: 10%;
}

@media screen and (max-width: 768px){
    .group-pic{
        max-width: 100%;
        border-radius: 5%;
    }
}

/* facilities */
.facility-pic{
    max-height: 35vh;
}