/* publication col size */
.publication-pic-size, .publication-content{
    /* max-height 5vh smaller to make it look good when under 1440px width*/
    /* This css property is the sizing limit of the module. Treat with caution*/
    max-height: 40vh;
    max-width: 100%;
}

/* publication description size */
.publication-topic{
    max-height: 20%;
}
.publication-topic-link{
    text-decoration: none;
    color: black;
}
.publication-description{
    max-height: 50%;
}
.publication-link{
    max-height: 15%;
    padding: 0px;
}

.icon-size{
    max-height: 20px;
    margin: 0px;
    padding: 0px;
}

.content-fs {
    font-size: 10px;
}

.topic-fs {
    font-size: 15px;
}

.citation-color, .topic-color{
    color: rgba(0, 0, 0, 0.75);
}

.publication-selected{
    background-color: rgba(224, 135, 79, 0.1);
}

.not-selected, .hide-not-selected{
    display: none;
}

@media screen and (min-width: 768px) {
    .content-fs {
        font-size: 10px;
    }

    .topic-fs {
        font-size: 18px;
    }

    .publication-topic-fs{
        font-size: 18px;
    }
}


@media screen and (max-width: 767px){
    .publication-topic-fs{
        font-size: 15px;
    }

    .publication-description{
        display: none;
    }
}
    



@media screen and (min-width: 768px){
    /* publication col size */
        .publication-pic-size,
        .publication-content {
            /* max-height 5vh smaller to make it look good when under 1440px width*/
            max-height: 35vh;
            max-width: 100%;
        }
    
        /* publication description size */
        .publication-topic {
            max-height: 20%;
        }
    
        .publication-description {
            max-height: 60%;
        }
    
        .publication-link {
            max-height: 15%;
        }
    
        .acs-size {
            max-height: 20px;
        }
}

.publication-button{
    border-radius: 10%;
    position: absolute;
    right: 0;
    left: auto;
}