/* publication col size */
.publication-content{
    /* max-height 5vh smaller to make it look good when under 1440px width*/
    /* This css property is the sizing limit of the module. Treat with caution*/
    max-height: 40vh;
    max-width: 100%;
}

.publication-pic-size{
    max-height: 20vh;
    max-width: 100%;
}

/* publication description size */
.publication-topic{
    max-height: 20%;
}
.publication-topic-link{
    text-decoration: none;
    color: black;
}
.publication-description{
    max-height: 50%;
}
.publication-link{
    max-height: 15%;
    padding: 0px;
}

.icon-size{
    max-height: 20px;
    margin: 0px;
    padding: 0px;
}

.content-fs {
    font-size: 10px;
}

.topic-fs {
    font-size: 15px;
}

.publication-selected{
    background-color: rgba(82, 2, 188, 0.1);
}

.not-selected, .hide-not-selected{
    display: none;
}

@media screen and (min-width: 768px) {
    .content {
        font-size: 12px;
    }

    .topic-fs {
        font-size: 18px;
    }

    .publication-topic-fonts{
        font-size: 18px;
        color: rgba(0, 51, 102, 0.9);
    }

    .citation {
        font-size: 15px;
        /*
        font-family:'Times New Roman', Times, serif;
        */
        color: rgba(0, 51, 102, 0.9);
    }
}


@media screen and (max-width: 767px){
    .citation{
        font-size: 12.5px;
        /*
        font-family:'Times New Roman', Times, serif;
        */
        color: rgba(0, 51, 102, 0.9);
    }
    .publication-topic-fonts{
        font-size: 15px;
        color: rgba(0, 51, 102, 0.9);
    }

    .publication-description{
        display: none;
    }

    .content{
        font-size: 10px;
    }
}
    



@media screen and (min-width: 768px){
    /* publication col size */
        .publication-content {
            /* max-height 5vh smaller to make it look good when under 1440px width*/
            max-height: 20vh;
            max-width: 100%;
        }
    
        /* publication description size */
        .publication-topic {
            max-height: 20%;
        }
    
        .publication-description {
            max-height: 60%;
        }
    
        .publication-link {
            max-height: 15%;
        }
    
        .acs-size {
            max-height: 20px;
        }
}

.publication-button{
    border-radius: 10%;
    position: absolute;
    right: 0;
    left: auto;
}

.publication-pic{
    border-radius: 5px;
}


/* selected publication section */

/* Below css properties dedicate to the selected publication page. Modify the properties here does not affect the publication page */

@media screen and (max-width: 992px) {
    .selected-div{
        width: 80%;
    }

    .selected-topic{
        font-size: 14px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        color:rgba(0, 51, 102, 0.9)
    }

    .selected-citation{
        font-size: 13px;
        padding: 0 auto;
        margin: 0 auto;
        color:rgba(0, 51, 102, 0.9)
    }

    .selected-author{
        font-size: 12px;
        margin-top: 0px;
        padding-top: 0px;
    }
}

@media screen and (min-width: 992px) {
    .selected-div{
        width: 60%;
    }

    .selected-topic {
        font-size: 18px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        color: rgba(0, 51, 102, 0.9)
    }
    
    .selected-citation {
        font-size: 15px;
        padding: 0 auto;
        margin: 0 auto;
        color: rgba(0, 51, 102, 0.9)
    }
    
    .selected-author {
        font-size: 13px;
        margin-top: 0px;
        padding-top: 0px;
    }
}

.selected-topic:hover{
    color: rgba(0, 51, 102, 0.5)
}

.selected-underline{
    border-bottom: 2px solid black;
}